@import url(https://fonts.googleapis.com/css2?family=Squada+One&display=swap);

#sticky,
.header {
    position: sticky;
    top: 0
}

#bgdiv,
#comments-bgdiv {
    height: auto;
    background-color: rgba(138, 138, 138, .8);
    padding: 1.8rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
    position: relative
}

#section-heading,
h1,
p {
    margin-bottom: 1rem
}

#One,
#main-slide,
#main-slide3,
#main-slide3 .items,
#main-slide4,
#slider,
#sticky,
#ture,
.overlay {
    overflow: hidden
}

#bgdiv,
#comments-bgdiv,
#main-slide3,
#slider,
.nav ul li {
    position: relative
}

.nav ul li,
footer {
    color: var(--white-color)
}

#main-title p,
footer,
html {
    line-height: 1.6
}

*,
footer {
    box-sizing: border-box
}

.nav ul li,
.team-button,
.welcome-text {
    text-transform: uppercase
}

.nav ul li,
.slide span,
.team-button,
.visitbtn,
h1 {
    font-weight: 700
}

*,
.social-icons a,
.team-button {
    text-decoration: none
}

#show-menu,
body {
    overflow-x: hidden
}

#menu-button button.active,
.bar i:hover,
.header-bar .fa-arrow-left:hover,
.visitbtn:hover i {
    color: var(--secondary-color)
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

:root {
    --main-color: #0e1111;
    --secondary-color: #232b2b;
    --background-color: #3b444b;
    --text-color: #ffecd1;
    --white-color: #fffffa;
    --main-font: "Monda", serif;
    --secondary-font: "Lora", serif
}

html {
    font-size: 16px
}

h1 {
    font-size: 2.5rem
}

h2,
h3 {
    font-weight: 600
}

h2 {
    font-size: 2rem;
    margin-bottom: .75rem
}

.slide img,
h3 {
    margin-bottom: 15px
}

h3 {
    font-size: 1.75rem
}

p,
span {
    font-size: 1rem
}

p {
    font-weight: 400
}

span {
    color: inherit
}

body {
    background-color: var(--background-color)
}

#One {
    height: 100vh;
    width: 100%;
    background: url('my img/section1.webp') center center/cover no-repeat
}

.overlay {
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .4);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .5s ease-out
}

.header,
footer {
    background-color: var(--main-color)
}

.visitbtn,
.visitbtn i {
    transition: 1.2s
}

.welcome-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .7)
}

.logo-text-line {
    display: flex;
    align-items: center;
    justify-content: center
}

.logo-text-line .logo {
    max-width: 25rem;
    margin-right: 1.5rem
}

.text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.text-box span {
    font-size: 5rem;
    line-height: 2
}

#sticky {
    z-index: 10
}

.bar,
.header-bar {
    display: none
}

.logo img {
    width: 9.3rem
}

.header img {
    height: auto;
    width: 6.2rem
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.2rem;
    padding: 0 7vw;
    border-bottom: 4px double var(--background-color)
}

.header ul {
    display: flex;
    align-items: center
}

.nav ul li {
    padding: 0 1.8rem;
    font-size: .8rem;
    cursor: pointer;
    transition: transform .2s
}

.nav ul li::after {
    content: "";
    position: absolute;
    background-color: var(--white-color);
    border-radius: 50%;
    height: 3px;
    width: 0;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    transition: width .5s;
    pointer-events: none
}

.nav ul li:hover::after {
    width: 90%
}

.header ul li:hover {
    color: var(--text-color)
}

.bar i {
    color: #fff
}

#fav-slider-track h2,
#main-slide3 .fav-price,
.visitbtn,
.visitbtn i {
    color: var(--text-color)
}

#main-slide {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center
}

#main-img,
#slid4-img {
    width: 80%;
    height: auto
}

#main-title {
    width: 50%;
    height: auto;
    text-align: justify;
    justify-content: space-around
}

#fav-slider-track h2,
#main-slide3 #fav-head,
#main-slide3 .items,
#section-heading,
.col,
.footer-bottom,
.row h3,
.slide {
    text-align: center
}

#main-img img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    border-radius: 30px 0 0 30px
}

#main-title h1 {
    display: flex;
    font-size: 1.8rem
}

#main-title p {
    font-size: 1rem
}

#main-slide3 #fav-head h2,
#section-heading {
    font-size: 1.8rem
}

#bgdiv {
    width: 100%;
    flex-wrap: wrap;
    left: 6.5rem;
    border-radius: 10px
}

.visitbtn {
    cursor: pointer;
    margin-top: 1.2rem;
    width: 10rem;
    line-height: 50px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    box-shadow: 0 10px 15px var(--white-color)
}

#about-us,
#main-slide3 .items,
#team,
.fav-slider-btn {
    background-color: var(--background-color)
}

#menu-button button.active:focus,
#menu-button button.active:hover,
#menu-button button:focus,
#menu-button button:hover,
.team-button:hover,
.visitbtn:hover {
    background-color: var(--text-color);
    box-shadow: 0 2px 15px var(--white-color);
    border: 1px solid var(--main-color);
    color: var(--secondary-color)
}

#ture {
    margin: 4.3rem 0
}

#ture video {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    box-shadow: var(--main-color) 0 30px 60px -12px inset, var(--main-color) 0 18px 36px -18px inset
}

#main-slide3 {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;
    margin: 70px 0
}

#main-slide3 #fav-head {
    margin-bottom: 1.8rem
}

#main-slide3 #fav-head p {
    text-align: center;
    font-size: 1rem;
    line-height: 1.6
}

#fav-slider-wrapper {
    overflow: hidden;
    width: 100%;
    position: relative
}

#fav-slider-track {
    display: flex;
    transition: transform .8s ease-in-out;
    width: 100%
}

.fav-food-slide {
    flex: 0 0 100%;
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 3rem 0
}

#main-slide3 .items {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    margin-bottom: 5rem;
    box-shadow: 0 2px 10px rgba(119, 119, 119, .438);
    width: 15.6rem;
    height: 25rem;
    cursor: pointer
}

#main-slide3 .items .fav-img {
    flex: 1;
    height: 50%;
    width: 100%
}

#main-slide3 .items .fav-img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 30px 30px 0 0;
    background-color: #faebd7
}

.item-content {
    flex: 1;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: justify;
    padding: .6rem;
    border-radius: 30px;
    justify-content: space-evenly
}

#main-slide3 .item-content h3 {
    margin: .6rem 0;
    font-size: 18px
}

#main-slide3 .item-content p {
    margin: 5px 0;
    font-size: 1rem
}

#main-slide3 .fav-price {
    margin-top: 1.2rem;
    font-weight: 700;
    font-size: .9rem;
    display: flex;
    justify-content: center;
    align-content: end
}

.fav-slider-btn {
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    border: none;
    border-radius: 8px;
    font-size: 2rem;
    color: #fff;
    padding: .6rem;
    cursor: pointer;
    z-index: 10;
    opacity: .8;
    transition: opacity .3s
}

.nav-left,
.nav-right,
.nextBtn,
.prevBtn {
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer
}

.fav-slider-btn:hover {
    opacity: 1
}

.fav-slider-btn.prev {
    left: 10px
}

.fav-slider-btn.next {
    right: 10px
}

#main-slide3 .design {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--secondary-color);
    box-shadow: var(--main-color) 0 30px 60px -12px inset, var(--main-color) 0 18px 36px -18px inset;
    border-radius: 30px;
    z-index: 0
}

#fav-slider-track h2 {
    font-size: 1.8rem;
    width: 100%;
    margin-top: 1.2rem
}

#main-slide4 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 70px 0
}

#slid4-img img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    border-radius: 0 30px 30px 0
}

#slide4-title {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center
}

#comments-bgdiv {
    width: 100%;
    flex-wrap: wrap;
    right: 6.5rem;
    border-radius: 10px;
    color: #fff;
    z-index: 1
}

#section-heading {
    color: #000
}

#slider {
    width: 100%
}

.inner {
    display: flex;
    transition: transform .5s ease-in-out;
    width: 100%
}

.slide {
    flex: 0 0 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 20px
}

.slide img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff
}

.map,
.map iframe {
    height: 100%;
    width: 100%
}

.slide span {
    font-size: 18px;
    margin-bottom: 10px
}

.slide p {
    font-size: 1rem;
    color: #eee;
    max-width: 90%
}

.nav-left,
.nav-right {
    position: absolute;
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 50%;
    transition: .3s
}

.about-image,
.team-image {
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 35px rgba(0, 0, 0, .5)
}

#menu-button button,
.team-button {
    background-color: var(--secondary-color)
}

.footer-bottom,
footer {
    border-top: 4px double var(--background-color)
}

.nav-left {
    left: 0
}

.nav-right {
    right: 0
}

.nav-left:hover,
.nav-right:hover {
    background-color: #ddd
}

#main-slide5 {
    width: 100%;
    height: 100vh;
    margin: 70px 0;
    overflow: hidden
}

.map iframe {
    border-radius: 30px
}

footer {
    width: 100%;
    margin: 70px 0 0;
    padding: 50px 0 0;
    overflow: hidden
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.col {
    flex: 1 1 22%
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    font-size: 1.2rem;
    color: #fff
}

.social-icons a {
    color: #fff;
    font-size: 2rem;
    transition: transform .3s, color .3s
}

#menu-button button,
.about-text h2,
.event-text h2,
.team-button,
.team-text h2 {
    color: var(--text-color);
    color: var(--text-color)
}

.social-icons a:hover {
    transform: scale(1.2);
    color: gold
}

.row h3 {
    margin-bottom: 15px;
    border-bottom: 2px solid var(--white-color);
    padding-bottom: 5px;
    transition: color 1.2s, border-bottom-color 1.2s, border-radius 1.2s
}

.row h3:hover {
    color: #feb200;
    border-bottom-color: #46200a;
    border-radius: 50%;
    cursor: pointer
}

.footer-bottom {
    margin-top: 20px;
    padding-top: 10px
}

.about-text,
.event-text,
.team-text {
    width: 50%;
    padding: 0 80px;
    display: flex;
    line-height: 30px;
    text-align: justify
}

#about-us {
    width: 100%;
    height: 100vh;
    overflow: hidden
}

.about-container {
    display: flex;
    flex-direction: row
}

.about-image {
    width: 50%;
    height: 100vh;
    border-radius: 30px 0 0 30px
}

.about-image img,
.slider-item img,
.team-image img {
    width: 100%;
    height: 100vh;
    object-fit: cover
}

.about-text {
    flex-direction: column;
    justify-content: center
}

.about-text h2,
.event-text h2,
.team-text h2 {
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: uppercase
}

.about-text p,
.event-text p,
.team-text p {
    font-size: 18px;
    margin-bottom: 20px;
    color: var(--white-color)
}

#team {
    width: 100%;
    height: 100vh;
    margin: 70px 0;
    overflow: hidden
}

.team-container {
    display: flex;
    flex-direction: row-reverse
}

.team-image {
    width: 50%;
    height: 100vh;
    border-radius: 0 30px 30px 0
}

.event-text,
.team-text {
    flex-direction: column;
    justify-content: center
}

.team-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 0 30px;
    height: 50px;
    font-size: 20px;
    letter-spacing: 5px;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    box-shadow: 0 10px 15px var(--white-color);
    transition: 1.2s
}

#menu,
.event-container1,
.event-container2,
.events {
    height: 100vh;
    display: flex
}

#menu,
#show-menu table td:hover,
.events {
    background-color: var(--background-color)
}

.events {
    width: 100%;
    margin: 0 0 70px;
    align-items: center;
    justify-content: center;
    overflow: hidden
}

.slider1,
.slider2 {
    width: 50%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 35px rgba(0, 0, 0, .5)
}

.event-container1 {
    flex-direction: row
}

.event-container2 {
    flex-direction: row-reverse
}

.slider1 {
    height: 100%;
    border-radius: 30px 0 0 30px
}

.slider2 {
    height: 100%;
    border-radius: 0 30px 30px 0
}

.slider-container {
    display: flex;
    transition: transform .5s ease-in-out;
    height: 100%
}

.slider-item {
    flex: 0 0 100%
}

.nextBtn,
.prevBtn {
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    color: var(--white-color);
    border: none;
    padding: 10px 15px;
    font-size: 24px;
    border-radius: 50%
}

.prevBtn {
    left: 15px
}

.nextBtn {
    right: 15px
}

.nextBtn:hover,
.prevBtn:hover {
    background-color: rgba(0, 0, 0, .9)
}

#menu {
    flex-direction: column;
    width: 100%
}

#menu-button {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px
}

#menu-button button {
    border: 1px solid var(--secondary-color);
    box-shadow: 0 0 5px var(--white-color)
}

#show-menu {
    width: 80%;
    height: 90vh;
    margin: 80px auto auto;
    overflow-y: auto;
    border-radius: 20px;
    background-color: #e2dacf;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .06);
    padding: 20px
}

#show-menu table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 30px
}

#show-menu table td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 20px;
    font-weight: 600;
    color: #1f2937;
    cursor: pointer;
    transition: transform .5s, background-color .5s
}

#show-menu table td:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, .08)
}

#menu-button button {
    cursor: pointer;
    border-radius: 10px;
    color: var(--text-color);
    padding: 10px 15px;
    border: 1px solid var(--secondary-color);
    box-shadow: 0 0 5px var(--white-color);
    transition: .4s
}

#menu-button button.active {
    background-color: var(--text-color);
    border: 1px solid var(--main-color)
}